.pagination {
  display: flex;
  width: 100%;
  list-style-type: none;
  padding: 0;
  justify-content: center;
}

.pagination-item {
  margin-right: 5px;
}

.pagination-button {
  width: 33px;
  height: 33px;
  background-color: #f2f2f2;
  border: 1px solid #ddd;
  text-decoration: none;
  cursor: pointer;
  border-radius: 10px;
}

.pagination-button:hover {
  background-color: #ddd;
}

.pagination-button:active {
  background-color: #425d7a;
  color: white;
}

.pagination-button-active {
  width: 33px;
  height: 33px;
  background-color: #4f45e4;
  color: white;
  border: 1px solid #ddd;
  text-decoration: none;
  cursor: pointer;
  border-radius: 10px;
}
